/* Feel free to remove these styles or customise in your own stylesheet 👍
<style>
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
</style>  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jetbrains mono;
}

body {
  background-color: hsl(0, 0%, 98%);
}
